html,body{
  margin:0;
}
body {
  font-size: 24px;
  font-family:
  background-color: lightgray;
  color: white;
  display: flex;
  flex-direction: column;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  opacity: 0.5;
}
li {
  list-style-type: none;
  display: inline-block;
        margin: 0.25em;
        margin-top: 0.5em !important;
        margin-left:0.5em !important;
}
nav {
  border-bottom: 1px solid;
}

h1,h2{
  font-family: 'Abril Fatface', cursive;
  text-align: center;
  position: absolute;
  left:20%;
  top:50%;
}
h1{
  font-size: 72px;
}
h2{
  top:61%;
  left:calc(20% + 10px);
}

p,li{
  font-family: 'Roboto', sans-serif;
}
.items{
  background-color: #54696e;
  width: 400px;
  height:200px;
}
.result{
  background-color: none;
}
.cover-page{
  background-image:url("cover-page.jpg");
  width:100%;
  height:100vh;
}
